.admin-main-div {
    width: 70%;
    height: auto;
    margin: auto;
    /* border: 1px solid red;
    background-color: aqua; */
}

.panel-div {
    width: 100%;
    height: auto;
    margin: auto;
    /* border: 1px solid rgb(0, 255, 110); */
    background-color: rgb(255 255 255);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.log-btn-dv {
    width: 7%;
    height: auto;
    margin: auto;
    border-radius: 5px;
    margin-left: 60.5rem;
}

.log-btn-dv Button {
    color: white;
    height: 24px;
    background-color: red;
}
.log-btn-dv Button:hover {
    color: white;
    height: 24px;
    background-color: rgb(247, 119, 119);
}

.adm-text-div {
    width: 100%;
    height:50px;
    margin: auto;
    border: 1px solid rgb(0, 255, 110);
    border-radius: 5px;
    background-color: #0bb980;
    text-align: center;
}
.adm-text-div h3 {
    color: white;
    font-size: 2rem;
    margin-top: 0px;
}

.adm-date-div {
    width: 30%;
    height: 43px;
    margin: auto;
    margin-left: 0rem;
    margin-top: 1.5rem;
}

input[type=date] {
    border-radius: 5px;
    width: 80%;
    height: 40px;
    border: 1px solid #d0d0d0;

}

.rev-admin-div {
    width: 100%;
    /* height: 500px; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* border: 1px solid red; */
    margin-top: 15px;
    padding: 2rem 0rem 2rem 5rem;
    background-color: rgb(255 255 255);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}


.rev-content-ad {
    margin-top: 10px;
    background-color: #ffff;
    width: 18rem;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #e2e2e2;
  }
  
  .rev-content1-ad {
    font-size: 14px;
    color: #767474;
    
  }


  .rev-cust-cont1-ad span:first-child {
    font-weight: bold;
    margin-right: 5px;
    font-size: 13px;
  }
  .rev-cust-cont1-ad span:nth-child(2) {
    font-size: 10px;
    color: gray;
    margin-right: 5px;
  }
  
  .rev-cust-cont1-ad span:nth-child(3) {
    font-size: 12px;
    font-weight: bold;
  }

  .rev-content-ad:hover {
    /* filter: blur(3px); */
  }

  #add-btn{
    color:  #0bb980;
    background-color: #d0d0d0;
    margin-right: 5px;
  }

  #del-btn {
    
    color: red;
    background-color: #d0d0d0;
  }